* {
  box-sizing: border-box;
  font-family: 'Comfortaa', cursive;
}

body {
  margin: 0;
  background: #EEEDE8;
  display: flex;
  justify-content: center;
}

.screen {
  width: 360px;
  min-height: 100vh;
  background: #EEEDE8;
}

.topbar {
  background: #000;
  color: white;
  padding: 12px;
}

.name {
  color: #FDDC03;
  font-weight: 700;
}

.level-card {
  margin: 20px;
  padding: 20px;
  background: white;
  border-radius: 16px;
  text-align: center;
}

.ranger {
  color: #3FAE29;
  font-weight: 700;
}

.level {
  font-size: 72px;
  color: #3FAE29;
}
